name: Push

on:
  workflow_call:
    inputs:
        rocks:
            description: List of rocks to build
            required: true
            type: string
            default: '[]'
        publish:
            description: Publish rocks ?
            default: false
            type: boolean
        branch:
            description: Branch to build from
            default: main
            type: string

jobs:

  build:
    name: Build rock
    strategy:
      fail-fast: false
      matrix:
        rock: ${{ fromJson(inputs.rocks) }}
    uses: canonical/data-platform-workflows/.github/workflows/build_rock.yaml@v32.2.0
    with:
      path-to-rock-directory: rocks/${{ matrix.rock }}
      artifact-prefix: packed-rock-${{ matrix.rock }}

  publish:
    if: ${{ inputs.publish }}
    needs: build
    strategy:
      fail-fast: false
      matrix:
        rock: ${{ fromJson(inputs.rocks) }}
    uses: canonical/data-platform-workflows/.github/workflows/release_rock.yaml@v32.2.0
    with:
      path-to-rock-directory: rocks/${{ matrix.rock }}
      artifact-prefix: packed-rock-${{ matrix.rock }}
      create-git-tags: true
    permissions:
      packages: write  # Needed to publish to GitHub Container Registry
      contents: write  # Needed to create git tags
